.section-hero {
  height: calc(100vh - 5rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url(./Hero_Soup.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-hero__title {
  text-align: center;
  font-size: 10rem;
  line-height: 8rem;
  margin-bottom: 1rem;
  color: white;
  font-family: Kapakana, sans-serif;
}

.section-hero__subtitle {
  text-align: center;
  color: white;
  font-size: 1.5rem;
  margin-bottom: 14rem;
}

.section-hero__button {
  justify-items: center;
  color: white;
  height: 3rem;
  width: fit-content;
  padding: 1rem 2rem;
  border-radius: 5px;
  border: none;
  background-color: rgb(10, 16, 68);
}
